<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Setting</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
    <!-- Bootstrap Core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../assets/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">WEB MANAGER OFFER</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="setting.html"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="check_ssh.html"><i class="fa fa-bar-chart-o fa-fw"></i> Check SSH</a>
                        </li>
                        <li>
                            <a href="earn.html"><i class="fa fa-table fa-fw"></i> Earn</a>
                        </li>
                        <li>
                            <a href="invoice.html"><i class="fa fa-edit fa-fw"></i> Invoice</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Report<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="clicks.html">Clicks</a>
                                </li>
                                <li>
                                    <a href="leads.html">Leads</a>
                                </li>
                                <li>
                                    <a href="offers.html">Offers</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="setting.html"><i class="fa fa-gear fa-fw"></i> Setting</span></a>

                        </li>
                        <li>
                            <a href="top_leads.html"><i class="fa fa-files-o fa-fw"></i>TOP LEADS</span></a>

                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
          <ul class="breadcrumb" style="margin: 0px -28px 28px -28px; line-height: 34px">
            <li>
              <i class="icon-home"></i> <a href="index.php">Home</a> <i class="icon-angle-right"></i>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
          <div class="row-fluid">
            <!-- start:contentLeft -->
            <div class="box span12 dashboard">
              <div class="box span12  form_member">
                <div class="box-header">
                  <h2><i class="halflings-icon white list"></i><span class="break"></span>EARN</h2>
                  <div class="box-icon">
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                  </div>
                </div>
                <div class="box-content-static">
                  <div class="container_table">
                    <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-condensed" id="list_members">
                      <tr>
                        <td colspan='6'>
                          <center>
                            <h2>OFFER WALLS</h2>
                          </center>
                        </td>
                      </tr>
                      <tr>
                        <td>ID</td>
                        <td>NAME</td>
                        <td>
                          <center>
                            LINK EARN
                          </center>
                        </td>
                        <td>
                          <center>
                            EARN
                          </center>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Wall sl</td>
                        <td><input style='width:97% !important;' type='text' value="http://offergroups.com/earnwall/NV9ic2RmZ3NkZnNkZnNkZmE="></td>
                        <td>
                          <center>
                            <a href='http://offergroups.com/earnwall/NV9ic2RmZ3NkZnNkZnNkZmE=' style='color:#2D89EF' target='_blank'>OPEN APP</a>
                          </center>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="container_table">
                    <form action="./export_list_earn.php" method='post'>
                      <input name='os' type='hidden' value='pc'><input name='codelogin' type='hidden' value='WW5Oa1ptZHpaR1p6WkdaelpHWmg='><input name='groupId' type='hidden' value='bin2'>
                      <table border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-condensed" id="list_members">
                        <tr>
                          <td colspan='7'>
                            <center>
                              <h2>OFFER BANNER</h2>
                            </center>
                          </td>
                        </tr>
                        <tr>
                          <td>ID</td>
                          <td>IMAGE</td>
                          <td>Points</td>
                          <td>
                            <center>
                              Offer Name
                            </center>
                          </td>
                          <td>
                            <center>
                              Description
                            </center>
                          </td>
                          <td>
                            <center>
                              Link Earn
                            </center>
                          </td>
                          <td>
                            <center>
                              Country
                            </center>
                          </td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='997'>997</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>6 Points</td>
                          <td>InsuranceBranch -Life Insurance US</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/OTk3X2JzZGZnc2Rmc2Rmc2RmYQ=="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1005'>1005</td>
                          <td><img height="40" src="" width="40"></td>
                          <td>3 Points</td>
                          <td>Finance Search Feed - CPC</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTAwNV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1006'>1006</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>3 Points</td>
                          <td>Life Insurance Feed - CPC</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTAwNl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1007'>1007</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>3 Points</td>
                          <td>Mortgage Search Feed - CPC</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTAwN19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1010'>1010</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>3 Points</td>
                          <td>Personal Loans Search Feed - CPC</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTAxMF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1088'>1088</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/DivineEats.PNG" width="40"></td>
                          <td>8 Points</td>
                          <td>Divine Eats</td>
                          <td>max1offers</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTA4OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1090'>1090</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>8 Points</td>
                          <td>Find Family Resources</td>
                          <td>max1</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTA5MF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1094'>1094</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/TargetWinter.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>Target Winter [United States]</td>
                          <td>Collect 100 points and get a $100 Target Gift Card! Participation and purchase required.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTA5NF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1098'>1098</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>8 Points</td>
                          <td>INCENT - Atkins US - V2</td>
                          <td>First page submit - register. Must be 18 plus</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTA5OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1102'>1102</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>12 Points</td>
                          <td>INCENT - Sparta US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEwMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1104'>1104</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/InsuranceFeed.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>Life Insurance Feed CPC</td>
                          <td>max1</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEwNF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1108'>1108</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/BurgerKing.PNG" width="40"></td>
                          <td>18 Points</td>
                          <td>Burger King - 1st Page Submit - US</td>
                          <td>email submit</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEwOF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1109'>1109</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>18 Points</td>
                          <td>Coke vs Pepsi - US</td>
                          <td>email submit</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEwOV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1110'>1110</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/CVSGiftCard.PNG" width="40"></td>
                          <td>18 Points</td>
                          <td>CVS Gift Card</td>
                          <td>Complete the short survey on this CVS promo</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTExMF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1112'>1112</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/DominosPizza.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>Dominos Pizza - Web - Incent - US</td>
                          <td>Cung cấp chuyển đổi sau khi đăng k&yacute; với th&ocirc;ng tin c&aacute; nh&acirc;n hợp lệ v&agrave; ho&agrave;n th&agrave;nh con đường khảo s&aacute;t.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTExMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1120'>1120</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/winLunch.PNG" width="40"></td>
                          <td>17 Points</td>
                          <td>Cool Survey - Friday&#039;s vs Applebee&#039;s Sweeps - $1,500 - [United States]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEyMF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1122'>1122</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>20 Points</td>
                          <td>INCENT - Sample Cube</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEyMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1123'>1123</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Headache.PNG" width="40"></td>
                          <td>6 Points</td>
                          <td>Headache Registration - US - Incent</td>
                          <td>Complete quick survey and click the banner to register.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTEyM19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1171'>1171</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>10 Points</td>
                          <td>NFL Sweepstakes - US - Incent</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE3MV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1176'>1176</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>Sherman&#039;s Travel</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE3Nl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1178'>1178</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/BurtsBees.png" width="40"></td>
                          <td>10 Points</td>
                          <td>Burt&rsquo;s Bees - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE3OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1179'>1179</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/HonestCo.PNG" width="40"></td>
                          <td>10 Points</td>
                          <td>Honest Co - US</td>
                          <td>Valid email submit, users must interact with the offer past the first page.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE3OV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1180'>1180</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Clean Eating</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4MF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1181'>1181</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT -InsuranceBranch -Life Insurance US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4MV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1183'>1183</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>6 Points</td>
                          <td>Next Car Finder</td>
                          <td>Completed Registration</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4M19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1184'>1184</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT - InsuranceBranch Life Insurance</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4NF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1186'>1186</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>5 Points</td>
                          <td>Booking Buddy</td>
                          <td>y&ecirc;u cầu t&igrave;m kiếm kh&aacute;ch sạn đa dạng , v&agrave; bắt buộc d&ugrave;ng email live để l&agrave;m con n&agrave;y .</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4Nl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1187'>1187</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Yoga.jpg" width="40"></td>
                          <td>4 Points</td>
                          <td>Yoga Journal</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4N19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1188'>1188</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>5 Points</td>
                          <td>btc clicks</td>
                          <td>đăng k&yacute; v&agrave; click v&agrave;o tất cả quảng c&aacute;o</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE4OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1191'>1191</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT - Mortgage Insurance</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTE5MV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1201'>1201</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>American Health Insure - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwMV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1202'>1202</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>HealthInsurance.net - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1204'>1204</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>9 Points</td>
                          <td>Dunhill Travel Deals - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwNF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1205'>1205</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>12 Points</td>
                          <td>Targeted Career (US)</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwNV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1206'>1206</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/images/LifeInsurance.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>InsuranceBranch Life Insurance [S]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwNl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1207'>1207</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/images/Mortgage%20Insurance.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>InsuranceBranch - Mortgage Insurance [S]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwN19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1208'>1208</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>Pokemon GO ( submit ) [United States]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwOF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1209'>1209</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>18 Points</td>
                          <td>Support Betsy Devos V2 - Incent OK</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIwOV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1210'>1210</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/click?aid=2&linkid=B801&s1=" width="40"></td>
                          <td>25 Points</td>
                          <td>Macy&#039;s Promo - 1st Page Submit - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIxMF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1216'>1216</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT - Super Chevy</td>
                          <td>User completes registration, first page submit.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIxNl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1222'>1222</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT - Bridal Guide</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIyMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1224'>1224</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>10 Points</td>
                          <td>E-File - US - First Page</td>
                          <td>Converts on first page submit. No incent. Traffic from US only!</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIyNF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1225'>1225</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/BookingBuddy.PNG" width="40"></td>
                          <td>5 Points</td>
                          <td>Booking Buddy [D]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIyNV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1226'>1226</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/DelTaco.jpg" width="40"></td>
                          <td>12 Points</td>
                          <td>Del Taco [United States]</td>
                          <td>Register with valid info.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIyNl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1227'>1227</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/McDonalds.jpg" width="40"></td>
                          <td>10 Points</td>
                          <td>McDonalds [United States]</td>
                          <td>Download the McDonald&rsquo;s App. Get a Free Sandwich! Register with valid info.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIyN19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1232'>1232</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Credit Cards Search Feed</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzMl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1233'>1233</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Finance Search Feed - CPC</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzM19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1234'>1234</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Life Insurance Feed - CPC</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzNF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1235'>1235</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Mortgage Search Feed - CPC</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzNV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1236'>1236</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Pain Relief Search Feed - CPC</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzNl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1237'>1237</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>7 Points</td>
                          <td>Reward Bee - US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzN19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1238'>1238</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>Star Digital</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTIzOF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1252'>1252</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>INCENT Google Pixel Phone</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI1Ml9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1256'>1256</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/max1offers.png" width="40"></td>
                          <td>9 Points</td>
                          <td>AARP Technology Sweepstakes</td>
                          <td>User Registration for Sweepstakes , Please encourage users to complete info pass first page. Age 45+ Only!</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI1Nl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1258'>1258</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>INCENT - Booking Buddy Hotel Search US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI1OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1265'>1265</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>INCENT - Booking Buddy Hotel Search US</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI2NV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1268'>1268</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>INCENT - Star Magazine US</td>
                          <td>Sign up for a complimentary one year digital subscription!</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI2OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1269'>1269</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>4 Points</td>
                          <td>INCENT - Digital Magazine US</td>
                          <td>Sign up for a complimentary one year digital subscription!</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI2OV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1270'>1270</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>Backpacker Digital</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3MF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1271'>1271</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>New Phone - CPC [United States]</td>
                          <td>zip code</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3MV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1272'>1272</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>Credit Reports - CPC [United States]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3Ml9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1273'>1273</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>2 Points</td>
                          <td>Hotels and Resorts - CPC [United States]</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3M19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1274'>1274</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/PokemonGo.PNG" width="40"></td>
                          <td>20 Points</td>
                          <td>Pokemon Go Promo</td>
                          <td>Converts on valid contact details.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3NF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1276'>1276</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>3 Points</td>
                          <td>Boating Magazine</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3Nl9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1277'>1277</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>10 Points</td>
                          <td>EverydayFamily V2</td>
                          <td>First Page Submit, Please encourage users to check offers after registration</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3N19ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1278'>1278</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/files/Max1offers.PNG" width="40"></td>
                          <td>10 Points</td>
                          <td>Black Friday Target Gift Card</td>
                          <td></td>
                          <td><input type="text" value="http://offergroups.com/earn/MTI3OF9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td><input name='id_export[]' type='checkbox' value='1325'>1325</td>
                          <td><img height="40" src="http://afftrack.max1offers.com/upload/images/TapResearch.PNG" width="40"></td>
                          <td>15 Points</td>
                          <td>Tap Research</td>
                          <td>Complete the survey accurately to get credit.</td>
                          <td><input type="text" value="http://offergroups.com/earn/MTMyNV9ic2RmZ3NkZnNkZnNkZmE="></td>
                          <td><span style='color:green'>United States</span> <span style='color:red'>|</span></td>
                        </tr>
                        <tr>
                          <td colspan='7'>
                            Earn with country: <a href='http://offergroups.com/earnall/index.php?codelogin=cF9ic2RmZ3NkZnNkZnNkZmE='>http://offergroups.com/earnall/index.php?codelogin=cF9ic2RmZ3NkZnNkZnNkZmE=</a>
                          </td>
                        </tr>
                      </table><input class="btn btn-info button_tb manager mousepointer" name="export_offer" title="ON selected offer(s)" type="submit" value="EXPORT LIST">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="../assets/vendor/raphael/raphael.min.js"></script>
    <script src="../assets/vendor/morrisjs/morris.min.js"></script>
    <script src="../assets/data/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../assets/dist/js/sb-admin-2.js"></script>

</body>

</html>
