<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Setting</title>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
    <!-- Bootstrap Core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../assets/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../assets/vendor/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">WEB MANAGER OFFER</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="check_ssh.html"><i class="fa fa-bar-chart-o fa-fw"></i> Check SSH</a>
                        </li>
                        <li>
                            <a href="earn.html"><i class="fa fa-table fa-fw"></i> Earn</a>
                        </li>
                        <li>
                            <a href="invoice.html"><i class="fa fa-edit fa-fw"></i> Invoice</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i> Report<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="clicks.html">Clicks</a>
                                </li>
                                <li>
                                    <a href="leads.html">Leads</a>
                                </li>
                                <li>
                                    <a href="offers.html">Offers</span></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="setting.html"><i class="fa fa-files-o fa-fw"></i> Setting</span></a>

                        </li>
                        <li>
                            <a href="top_leads.html"><i class="fa fa-gear fa-fw"></i>TOP LEADS</span></a>

                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4><i class="fa fa-history fa-fw"></i> History invoice</h4>
              </div>
              <div class="panel-body">
                <div class="alert">
		                <form action="index.php?invoice" method="get" style="padding-bottom:10px;">
		                    <div class="input_form_filter">
				                      FROM: <input type="text" style="width:100px !important" name="from" class="input-xlarge datepicker hasDatepicker" id="date01" value="2017-03-01">
		                    </div>
		                    <div class="input_form_filter">
				                       TO: <input type="text" style="width:100px !important" name="to" class="input-xlarge datepicker hasDatepicker" id="date02" value="2017-03-31">
				                           <input hidden="hidden" name="invoice" value="history">
		                     </div>

          		           <div class="input_form_filter">
          			              <select name="network" style="max-width:150px">
          				                  <option value="">Network</option>
                    								<option value="1better">1better</option>
                    								<option value="ads">ads</option>
                    								<option value="ADW">ADW</option>
                    								<option value="incen-sabia">incen-sabia</option>
                    								<option value="mack">mack</option>
                    								<option value="max1offers">max1offers</option>
                    								<option value="mobverify">mobverify</option>
                    								<option value="pro">pro</option>
                    								<option value="red">red</option>
                    								<option value="tor">tor</option>
                    								<option value="Wall sl">Wall sl</option>
          							        </select>
          			                OFFER ID <input type="text" style="width:100px !important" name="offerId" class="input-xlarge " value="">
                          			<select name="option_paid" style="max-width:80px">
                          				<option value="all">ALL</option>
                          				<option value="paid">PAID</option>
                          				<option value="unpaid">UNPAID</option>
                          			</select>
          		              </div>
                        		<div class="input_form_filter">
                        			<input type="submit" class="btn btn-primary" value="VIEW">
                        			<a type="submit" class="btn btn-warning" target="_blank" href="./export_invoice_h.php?invoice">EXPORT</a>
                        		</div>
          		           </form>
                       </div>

                       <div class="container_table">
                         <table id="list_members" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped table-condensed">
	                          <tbody><tr><td colspan="8"><center><h2>Statistics from the date 2017-03-01 to day 2017-03-31</h2></center></td></tr>			  <tr><th>UserName</th><th>Network</th><th>Offer Name</th><th>Point</th><th>Money</th><th>From</th><th>To</th><th>Date create</th><th>Status</th></tr>
	                             <tr id="tr_Maebashi1">
                                 <td class="tb_break_word">Maebashi1</td>
                                 <td class="tb_break_word">ADS</td>
                                 <td class="tb_break_word"></td>
                                 <td class="tb_break_word">1179</td>
                                 <td class="tb_break_word">235,800</td>
                                 <td class="tb_break_word">
                                   <center>2017-03-01 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-31 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-13 15:54:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center><span style="color:green">PAID</span></center>
                                 </td>
                               </tr>
                               <tr id="tr_Maebashi1">
                                 <td class="tb_break_word">Maebashi1</td>
                                 <td class="tb_break_word">max1offers</td>
                                 <td class="tb_break_word"></td>
                                 <td class="tb_break_word">700</td>
                                 <td class="tb_break_word">140,000</td>
                                 <td class="tb_break_word">
                                   <center>2017-03-01 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-31 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-13 15:50:35</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center><span style="color:green">PAID</span></center>
                                 </td>
                               </tr>
                               <tr id="tr_Maebashi1">
                                 <td class="tb_break_word">Maebashi1</td>
                                 <td class="tb_break_word">mobverify</td>
                                 <td class="tb_break_word"></td>
                                 <td class="tb_break_word">25</td>
                                 <td class="tb_break_word">5,000</td>
                                 <td class="tb_break_word">
                                   <center>2017-03-01 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-31 00:00:00</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center>2017-03-13 15:51:50</center>
                                 </td>
                                 <td class="tb_break_word">
                                   <center><span style="color:green">PAID</span></center>
                                 </td>
                               </tr>
                             </tbody>
                           </table>
                       </div>
                     </div>
              <div class="panel-footer">Panel Footer</div>
            </div>
          </div>
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../assets/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="../assets/vendor/raphael/raphael.min.js"></script>
    <script src="../assets/vendor/morrisjs/morris.min.js"></script>
    <script src="../assets/data/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="../assets/dist/js/sb-admin-2.js"></script>

</body>

</html>
